@charset "utf-8";

.main_container {
    display: flex;
    flex-flow: row wrap;
}
.main_container .v2_container {
    flex-grow: 1;
}
.main_container .notice_wr {
    flex: 0 1 30%;
}
/* 최근게시물 스킨 (latest) */
.bx-wrapper{position:relative;}
.notice_wr{border-radius:5px;margin:30px 15px 15px; position:relative;line-height:66px;padding: 0 15px 15px;
background-color:#f1f1f1;}
.notice_wr h2{position:relative;top:0;left:0;padding:0 30px}
.notice_wr h2 a{color:#000;font-size:16px}
/*.notice_wr li{text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }*/
.notice_wr li a{color:#000;font-size:16px;text-align: center;}
.notice_wr .bx-controls-direction{position:absolute;top:50%;transform: translateY(-50%);width: 100%;}
.notice_wr .bx-controls-direction a{position:absolute;width:40px;height:40px;display:inline-block;text-indent:-999px;overflow:hidden;
    background-position: center;background-repeat: no-repeat;background-color: #5083cf;}
.notice_wr .bx-controls-direction a.disabled{background-color: #ccc;cursor: default}

.notice_wr .bx-prev{background-image:url('./btn_prev.png');margin-left: -50px;}
.notice_wr .bx-next{background-image:url('./btn_next.png');margin-right:-50px;right:0;}
 
@media (max-width: 969px){
    .notice_wr{margin:30px 15px}
    .main_container .notice_wr {
        flex: 0 1 100%;
    }
    .main_container .notice_wr img {
        width: auto;
        max-height: 300px;
    }
}

@media (max-width: 639px){
    .notice_wr{margin:15px 0;padding-left:80px}
    .notice_wr h2{padding:0 15px}
    .notice_wr .bx-controls-direction{right:15px}
    .notice_wr{line-height:55px}
}